<launch>

  <arg name="zed_topic"  default="/zed/odom" />
  <arg name="imu_topic"  default="/imu/data"/>
  <arg name="wheel_topic" default="/wheel/odom" />
  <arg name="output_frame" default="output_frame" />
  <arg name="base_frame" default="base_frame" />
  
  <node pkg="tf" type="static_transform_publisher" name="base_frame" args="0 0 0 0 0 0 1 $(arg base_frame) imu 100"/>
  <node pkg="tf" type="static_transform_publisher" name="output_frame" args="0 0 0 0 0 0 1 map $(arg output_frame) 100"/>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="$(arg output_frame)"/>
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="10.0"/>  
    <param name="odom_used" value="false"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>

    <remap from="vo" to="$(arg zed_topic)" />
    <remap from="imu_data" to="$(arg imu_topic)" />
    <remap from="odom" to="$(arg odom_topic)" />
  </node>

</launch>

